/*Frist Frame*/

body{
	margin: 0;
}
.one-purple{
	display: flex;
	flex-direction: column;
}

/*Frist Part*/

.one-orange{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.one-one-blue{
	display: flex;
	padding-left: 40px;
}

.tipos{
	margin: 2.5px;
	color: black;
	padding-left: 10px;
	font-size: 22px;
	font-family: 'Showcard Gothic', sans-serif;
}

.moresize{
	font-size: 34.9px;
	color: black;
}
.unline{
	text-decoration: none;
}

.flex{
	display: flex;
}

.barra{
	border-left: 4px solid gainsboro;
	border-right: 4px solid gainsboro;
	color: black;
	padding: 12px  36em 12px 10em ;
	margin-left: 50px;
	border-top: 4px solid gainsboro;
	border-bottom: 4px solid gainsboro;
	color: gray;
}

.search{
	background-color: red;
	color: white;
	padding: 14px;
	font-size: 25px;
}

.Debug{
	margin: 15px;
}

.inscrever{
	padding-right: 50px;
	font-family: 'Showcard Gothic', sans-serif;
	font-size: 15px;
	color: black;
}

/*Second Part*/

.two-orange{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(lol.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family:'Showcard Gothic', sans-serif;
}
.two-one-blue{
	color: white;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 1em;
	font-size: 32px;
}

.two-one-blue p{
	font-family: "Leelawadee UI", sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.bordinha{
	margin-bottom: 100px;
	margin-top: 5px;
	padding: 25px 55px;
	background-color: red;
	color: white;
}

/*End*/

/*Second Frame*/

.two-purple{
	display: flex;
	justify-content: center;
}

.space{
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 4em;
	margin-bottom: 7em;
	justify-content: center;
}

.squad{
	border: 8px solid gray;
	margin-bottom: 1em;
	margin-top: 75px;
}

.fy{
	width: 24em;
	height: 135px;
}

/*End*/

/*Third-Frame*/

