*{margin: 0; padding: 0;}
body{background: #f4f4f4;}

.shadow{
    box-shadow: rgb(52, 47, 110) 0px 3px 0px 0px, rgba(33, 7, 77, 0.5) 0px 4px 10px 0px;
    
}
div #centro{
    margin: 0px auto;
    width: 100%;
    background-color: #ccc;
}

#menu{
    float: left;
    width: 100%;
    height: 70px;
    background: rgb(61, 55, 128);
    position: fixed;
}

div #conteudo{
    float: left;
    width: 100%;
    height: 4000px;
    background: #332e73;
    margin-top: 1px;

}
 /*  bloco esquedo */

#lateral{
    background-color: #332e73;
    width: 350px;
    height: 100%;
    position: fixed;
    margin-top: 110px;
    border-radius: 0 9px;
    overflow: auto;
}

.title{
    width: 70%;
    margin-left: 15%; 
}


.container {
    height: 83.8%;
    overflow: auto;
    width: 100%;
    margin-right: 0;
}


.container::-webkit-scrollbar {
    width: 5px;
}
.container::-webkit-scrollbar-thumb {
    background: #554db3;
    border-radius: 3px;
}

div .opitions{
    width: 100%;
    height: 60px;
    background-color: rgb(61, 55, 128);
    margin: 2px;

}

div .group-right{
    margin-top: 100px;
    margin-left: 400px;
    
}

div .seg{
    display: flex;
}

div .purple{
    border-radius: 9px;
    background-color: rgb(61, 55, 128);
    
}

div .maior-gasto{
    width: 500px;
    height: 100px;
    margin: 10px;
}

div .dados{
    display: flex;
}

div .temperatura{
    width: 400px;
    height: 500px;
    margin: 10px;
}

div .humidade{
    width: 600px;
    height: 500px;
    margin: 10px;
}
